@using Color = MudBlazor.Color

<AppBar/>

<MudMainContent>
    <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
        @ChildContent
       
    </MudContainer>
</MudMainContent>
<div class="footerUpperImage">
   @* <img class="img-responsive lozad" data-src="/images/footer.png" alt="footer Upper Image" src="/images/footer.png" data-loaded="true">*@
   <MudImage  class="img-responsive" data-src="/images/footer.png" alt="footer Upper Image" src="/images/footer.png" data-loaded="true"/>
</div>
<style>
    .footerUpperImage {
        margin-top: 70px;
        text-align: center;
        background-color: #333;
    }
    .img-responsive {
        max-width: 100%;
    }

</style>