<div class="search-no-result-box" style="@StyleParameter">
    <div class="search-exclamation-mark">!</div>
    <div class="search-no-result-text">
        <b>No result for "@SearchParameter" <br></b>
        <p><strong>Can’t find what you’re looking for</strong></p>
    </div>
</div>
<style>
    .search-no-result-text {
        padding: 12px 0;
    }

    .search-exclamation-mark {
        background: #c03;
        min-width: 28px;
        color: #fff;
        font-weight: bold;
        float: left;
        min-height: 64px;
        line-height: 64px;
        font-size: 1.3rem;
    }

    .search-no-result-box {
        border: 2px solid #c03;
        border-radius: 5px;
        text-align: center;
        margin-right: 200px;
        margin-left: 200px;
    }

    .page-title h1 {
        font: normal 24px/36px 'eurostile';
        color: #c03;
    }
</style>